<div class="login">
    <h1>Login</h1>
        <form method="post" action="signIn">
            <input type="email" name="userEmail" placeholder="Email" required="required" />
            <input type="password" name="userPass" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
            </form>
            
            <form method="post" action="getRegister">
            <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
        </form>
</div>
