<div class="login">
    <h1>Login</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" noValidate>
            <div class="form-group">
                <input type="email" class="form-control" id="email" formControlName="userEmail" 
                    [class.is-invalid]="userEmail.invalid && userEmail.touched" placeholder="Email">
                <small class="text-danger" [class.d-none]="userEmail.valid || userEmail.untouched">
                    email is required!
                </small>
                <input type="password" class="form-control" id="pwd" formControlName="userPass" 
                    [class.is-invalid]="userPass.invalid && userPass.touched" placeholder="password">
                <small class="text-danger" [class.d-none]="userPass.valid || userPass.untouched">
                password is required!
                </small>
                <button type="submit" class="btn btn-primary btn-block btn-large" >Let me in.</button>
                <button type="submit" class="btn btn-primary btn-block btn-large" routerLink="/register">Register</button>
            </div>
        </form>
</div>
