<div class="login">
        <h1> Registration Form </h1>
    <form action="">
        <div class="form-group">
            <table class=" table-responsive table table-hover table-borderless">
                <tr>
                    <td><label for="userName" style="color: #fff;">Name :</label></td>
                    <td>
                    <input type="text" path="userName" name="userName" id="userName" size="50"
                        placeholder="Enter User name" />
                    </td>
                    
                </tr>

                <tr>
                    <td><label for="email" style="color: #fff;">Email :</label></td>
                    <td>
                    <input type="email" path="userEmail" name="email" id="email" size="50" />
                    </td>
                    
                </tr>
                <tr>
                    <td><label for="phone" style="color: #fff;">Mobile :</label></td>
                    <td>
                    <input type="text" path="userPhone" name="phone" id="phone" pattern="[0-9]{10}" />
                    </td>
                    
                </tr>
                <tr>
                <tr>
                    <td><label for="password" style="color: #fff;">Password :</label></td>
                    <td>
                    <input type="password" path="userPass" name="password" id="password" size="50" />
                    </td>
                    
                <tr>
                    <td><label for="addr" style="color: #fff;">Address :</label></td>
                    <td>
                    <input type="textarea" path="userAddress" name="addr" id="addr" />
                    </td>
            
                </tr>
                <tr>
                
                    <td></td>
                    <td><button type="submit" class="btn btn-primary btn-block btn-large">Submit</button></td>
                </tr>
            </table>
        </div>
    </form>
</div>